*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.d-block{
    display: block;
}

body{
    font-size: 0.8rem;
}

#bg-top{
    background-color: #009688;
    height: 20vh;
}

#bg-bottom{
    background-color: #DBDBD2;
    height: 80vh;
}

main{
    width: 80vw;
    height: 95vh;
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%,-50%);
    background-color:white;
}

#section-contacts{
    width: calc(100% / 3);
}

#section-chat{
    width: calc(100% / 3 * 2);
}

#section-contacts>*,
#section-chat>*{
    padding: 0.5rem;
}

#section-contacts>div:first-child,
#section-chat>div:first-child{
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #EAEAEA;
}

#my-div{
    align-items: center;
}

#section-contacts>div:nth-child(2){
    background-color: #8EDAFC;
    border:1px solid black;
}
div.input-contacts>div{
    width: 10%;
}

div.input-contacts i{
    margin: auto;
}

div.input-contacts>input{
    width: 90%;
}

div.contacts{
    border-top: 1px solid grey;
}

.avatar-box{
    width: 50px;
    height: 50px;
}

.avatar-box>img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.contact-box{
    padding: 0.5rem;
}

div.chat-zone{
    height: calc(100% - 60px - 60px);
    background-image: url("../img/mine.jpg");
    background-size: contain; 
    overflow-y: scroll;
}

div.input-chat{
    height: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: #F3EEEA;
}

.input-chat>input{
    width: 70%;
    padding: 0.5rem;
}



